.form{
  &-control{
    font-size:20px;
    color:#202020;
    font-weight: 500;
    margin-bottom:8px;

    &:focus{
      border-color:$green_dark!important;
      box-shadow: none;
    }
  }

  @media (min-width:768px){
    &-control{
      font-size:24px;
    }
  }

}
.input-wrap {
  .form-control {
    border: 0.1em solid $grey_border;
    height: 65px;
    border-radius: 12px;
    &.invalid{
      border-color:$color_danger;
      &.identified{
        &:focus{
          border-color:$green_dark;
        }

      }
    }
  }
}

.input-field {
  &-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    //width:300px;

    &-prepend {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 25px;
      background: #CECECE;
      border-radius: 10px 0 0 10px;
      border: 3px solid #8b8b8b;
      font-weight: 600;
      font-size: 1.4em;
      //height: 85px;
      &.focused{
        border-color:$green_dark;
        background-color: $green_dark;
        color:#fff;
        -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
      }
    }

    .form-control {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
      border-width: 3px;
      border-color: #8b8b8b;
      font-size: 20px;
      font-weight: 500;
      border-radius: 10px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
      //height:86px;
      .box-height-big{
        height:85px;
      }
      @media (min-width: 576px){
        font-size: 24px;
      }
    }
  }
}

.required-mark{
  color:$color_danger;
}
.message-field{
  align-items: center;
  display: none;
}
.warning-message{
  color:$color_danger;
  font-size: 0.8em;
  img{
    margin-right:6px;
  }
}

.show-warning{
  .warning-message{
    display: inline-block;
  }
}

.big-cc-field{
  position: relative;
  z-index: 99;
}