.header{
  background-color: #03a75b;
  color:#fff;
  padding:13px 0;
  .company-name{
    font-size:20px;
    font-weight: 700;
    @media (min-width: 576px){
      font-size: 22px;
    }
    @media (min-width:768px){
      font-size:24px;
    }
  }
  .row{
    display: flex;
    align-items: center;
  }

  &-large{
    &-text{
      color:#fff;
      font-size: 22px;
    }
  }
  &-small{
    &-text{
      color:#fff;
      font-size: 16px;
      display: block;
      line-height: 1;
    }
  }

  @media (max-width:767px){
    [class*='col-']{
      width:100%;
  }
  }

  p{
    .time{
      font-size: 1em;
      font-weight: 600;
    }
    .date{
      font-size:0.8em;
    }
  }


  @media (min-width: 576px){
    p{
      .time{
        font-size: 1em;
      }
      .date{
        font-size:0.6em;
      }
    }

    &-large{
      &-text{
        font-size: 32px;
      }
    }
    &-small{
      &-text{
        display: inline-block;
        font-size: 1em;
      }
    }

  }

  @media (min-width: 768px){
    p{
      .time{
        font-size: 1em;
      }
      .date{
        font-size:0.6em;
      }
    }

    &-large{
      &-text{
        font-size: 28px;
      }
    }
    &-small{
      &-text{
        display: inline-block;
        font-size: 1em;
      }
    }

  }
}