.popup{
  &-wrapper{
    background-color: rgba(0, 0, 0, 0.40);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    &-footer{
      border-top:1px solid #d8d8d8;
      margin:0 -40px;
      padding:15px 25px 0 25px;
    }

    &.active{
      opacity: 1;
      visibility: visible;
      z-index: 999;
    }
  }
  &-body{
    min-width: 90%;
    max-width:90%;
    background-color: #ffffff;
    border-radius: 15px;
    padding:20px 20px 20px 20px;
    min-height: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px){
      padding:40px 40px 20px 40px;
      min-width: 60%;
      max-width:60%;
    }

    @media (min-width: 992px){
      padding:40px 40px 20px 40px;
      min-width: 54%;
      max-width:54%;
    }

  }


}

.swipe-card-image{
  img{
    max-height:200px;
  }
}

//bootstrap modal
.modal{
  &-confirm{
    .modal-content{
      border-radius: 15px;
    }

  }

  &-header{
    padding: 30px 30px 30px 30px;
  }

  &-footer{
    padding: 20px;
    .btn{
      &:not(:last-child){
        margin-right: 20px;
      }
    }
  }

  @media (min-width:992px){
    &-confirm{
      min-width:54%;
    }
    &-header{
      font-size:1.8em;
      padding:50px 50px 80px 50px;
    }
    &-footer{
      padding:40px;
    }
  }
}


.popup-text{
  font-size:1em;
  font-weight: 500;
  padding-bottom:10px;

  .row{
    &-key{

    }
    &-value{
      font-weight:600;
    }
  }


}

.support-cat{
  display: inline-block;
  font-weight: 600;
  border: 2px solid #429E58;
  background-color: #429E58;
  line-height: 1;
  padding: 6px 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}


.notification{
  padding: 15px;
  text-align: left;
  /* font-size: 18px; */
  background: #d4edda;
  border-radius: 0;
  border-radius: 15px;
  border-top: 4px solid #429E58;
  position: relative;
}
.p-0{
  padding:0;
}